<div class="blogDetail">
    <h1>Internet blog post</h1>
    <div class="blogDetail__head">
        <img src="https://images.unsplash.com/photo-1650196186567-b42a5de15fb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1972&q=80"
            class="blogDetail__profileImg" />
        <span>Ray</span>
        <span>May 14, 2024</span>
    </div>
    <img
        src="https://images.unsplash.com/photo-1667586091163-e759ac830a1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1414&q=80" />
    <div class=" blogDetail__body" innerHTML="html">
        <p>Welcome to ButterCMS! This an example blog post written using Butter.</p><br />
        <header><b>Blog Engine Demo</b>
            <p>Here's a helpful walkthrough of our Blog Engine solution.</p>
        </header>
        <br />
        <iframe width="800" height="485" src="https://www.youtube.com/embed/0dJbHy2XqoY"
            title="Blog Engine:  Marketer Overview - Why our Blog Engine?" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br />
        <a href="https://buttercms.com/demo/blog-engine-why-our-blog-engine/"
            data-mce-href="/demo/blog-engine-why-our-blog-engine/"
            data-mce-selected="inline-boundary">https://buttercms.com/demo/blog-engine-why-our-blog-engine/</a>
        <br />
        <br />
        <header><b>What's happening here?</b>
            <p>If you're viewing this post from your website or command line, you've successfully made a request to the
                <a href="https://buttercms.com/docs/api" data-mce-href="/docs/api">Butter API</a>. If you haven't
                already, make sure you have our <a href="https://buttercms.com/docs/" data-mce-href="/docs/"
                    data-mce-selected="inline-boundary">development guides</a> pulled up for
                step-by-step
                instructions on setting up Butter.
            </p>
        </header>
        <br />
        <header><b>How does editing work?</b>
            <p>Butter's WYSIWYG editor supports standard text formatting including headings, links, quotes, code, text
                alignment, and more. You can upload, crop, and resize images which are automatically hosted and
                delivered through a CDN (see below). You can also edit HTML directly when needed.</p>
        </header>
        <br />
        <img src="https://cdn.buttercms.com/unEbopuSEehbBS1F8WQl" />
        <figcaption contenteditable="true">Delivered to you via CDN</figcaption>
        <br />
        <header><b>Can I use Butter as a full CMS for things other than a blog?</b>
            <p>Yes. Butter can be used as a full CMS for managing dynamic content and creating pages across your entire
                website or app. Check out our <a href="https://buttercms.com/docs/" data-mce-href="/docs/"
                    data-mce-selected="inline-boundary">development guides</a> for step-by-step tutorials on setting
                this up.</p>
        </header>
    </div>
</div>